<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Remunerations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div layout:fragment="content1">
    <ul>
        <li><a class="btn btn-danger" th:href="@{/logout}">Logout</a></li>
    </ul>
    <div class="panel panel-heading">Liste des Departement</div>
    <div>
        <form th:action="@{/user/remuneration}" method="get">
            <label>Mot clé : </label>
            <input type="text" name="search" th:value="${search}">
            <button type="submit" class="btn btn-primary">Chercher</button>
        </form>
    </div>
    <table class="table">
        <tr>
            <th>ID</th><th>Type</th><th>Nom</th>
        </tr>
        <tr th:each="r:${listRemunerations}">
            <td th:text="${r.id}"></td>
            <td th:text="${r.type}"></td>
            <td th:text="${r.nom}"></td>
            <td>
                <a onclick="return confirm('Etes vous sur de supprimer ce dept?')" th:href="@{/admin/remuneration/delete(id=${r.id}, page=${currentPage}, search=${search})}">Delete</a>
            </td>
            <td>
                <a th:href="@{/admin/remuneration/edit(id=${r.id})}">Edit</a>
            </td>
        </tr>
    </table>

    <ul class=" nav nav-pills">
        <li th:class="${currentPage ==status.index}? 'alert alert-primary' : 'alert alert-dark'" th:each="page, status:${pages}">
            <a th:href="@{/user/remuneration(page=${status.index}, search=${search})}" th:text="${status.index}"></a>
        </li>
    </ul>
</div>

</body>
</html>